<span style="display: flex; justify-content: space-between">
    <?= $value ?>
    <span class="<?= $record->is_organization ? 'oc-icon-building-o text br-p-s20' : 'oc-icon-user br-s-s20' ?>"></span>
</span>